<div class="headerUsers">Список юзеров</div>
<br>
<div class="listOfUsers" *ngFor="let user of users">
    <img class="avatar" src={{user.avatar}}/> 
    <button class="itemUsers" (mouseenter)="onEnter(user.id)" (mouseleave)="onLeave(user.id)">
        <div class="showInfo" routerLink="/userInfo" (click)="showUserInfo(user.id)">  
            <div class="itemUsersName">{{user.name}}</div>
        </div>
        <div class="itemUsersPanelToDo">
            <div id="{{'delete'+user.id}}" class="itemUsersButton delete"(click)="delete(user.id)">Удалить</div>                 
        </div>
    </button>
</div><br><br>

<div class="headerRes">Список ресурсов</div><br>
<ul class="containerRes">
    <li class="itemRes" *ngFor="let res of resources">
        <div class="itemResName">{{res.name}}</div>
        <div class="itemResYear">{{res.year}}</div>
    </li>
</ul><br><br>