<div class="header unselectable">
    <span class="headerName" routerLink="/">UserInfo</span>
    <div class="buttonsPanel">
        <div class="buttonsLeft">
            <div *ngIf=!isLogin class="button"
                 (click)="loginClick()">Войти</div>
            <div *ngIf=!isLogin class="button"
                 (click)="registerClick()">Регистрация</div>
        </div>
        <div class="buttonsRight">
            <div *ngIf=isLogin class="button"(click)="exitClick()"><span routerLink="/" >Выход</span></div>
        </div>
    </div>
</div>
<app-login *ngIf=!isLogin [param]="paramChild"></app-login>
<router-outlet *ngIf=isLogin ></router-outlet>