<div class="backButton unselectable" routerLink="/">назад</div>
<div class="userInfoMain">
    <img class="avatar" src={{user.avatar}}>
    <div class="userInfoContains">
        <div class="userInfoField">
            <div class="userInfoFieldName">Имя: </div>
            <label>{{user.firstName}}</label>
        </div>
        <div class="userInfoField">
            <div class="userInfoFieldName">Фамилия: </div>
            <label>{{user.lastName}}</label>
        </div>
        <div class="userInfoField">
            <div class="userInfoFieldName">Почта: </div>
            <label>{{user.email}}</label>
        </div>
    </div>
</div>
<div class="editButton unselectable" (click)="editClick()">Редактировать</div>
<form *ngIf=needEdit class="editingForm">
    <div class="editingField">
        <div class="editingFieldName"> Имя: </div>
        <input type="text" value={{user.firstName}} (keypress)="onChange(name.value)" #name />
    </div>    
    <div class="editingField">
        <div class="editingFieldName"> Фамилия: </div>
        <input type="text"  [(ngModel)]="user.lastName"/>
    </div>    
    <div class="editingField">
        <div class="editingFieldName"> Почта: </div>
        <input type="text" value={{user.email}}/>
    </div>
</form>